loki:
  deploymentMode: SingleBinary

  config:
    common:
      path_prefix: /tmp/loki

    storage_config:
      tsdb_shards: 1
      tsdb:
        directory: /tmp/loki/tsdb
      filesystem:
        directory: /tmp/loki/chunks

    schema_config:
      configs:
        - from: "2024-01-01"
          store: tsdb
          object_store: filesystem
          schema: v13
          index:
            prefix: loki_index_
            period: 24h

  
  singleBinary:
    replicas: 1
    persistence:
      enabled: false   # no PVC
    containerSecurityContext:
      readOnlyRootFilesystem: false
    extraVolumes:
      - name: loki-data
        emptyDir: {}
    extraVolumeMounts:
      - name: loki-data
        mountPath: /tmp/loki   # writable
  
  chunksCache:
    enabled: false
  resultsCache:
    enabled: false
  
  gateway:
    enabled: false
  
  test:
    enabled: false
