loki:
  deploymentMode: SingleBinary
  
  loki:
    auth_enabled: false
    
    commonConfig:
      path_prefix: /tmp/loki
      replication_factor: 1
    
    storage:
      type: filesystem
    
    schemaConfig:
      configs:
        - from: "2024-01-01"
          store: tsdb
          object_store: filesystem
          schema: v13
          index:
            prefix: loki_index_
            period: 24h
  
  singleBinary:
    replicas: 1
    persistence:
      enabled: false
    containerSecurityContext:
      readOnlyRootFilesystem: false
    extraVolumes:
      - name: loki-data
        emptyDir: {}
    extraVolumeMounts:
      - name: loki-data
        mountPath: /tmp/loki
  
  chunksCache:
    enabled: false
  resultsCache:
    enabled: false
  
  gateway:
    enabled: false
  
  test:
    enabled: false
