loki:
  deploymentMode: SingleBinary
  
  loki:
    auth_enabled: false
    
    commonConfig:
      path_prefix: /tmp/loki
      replication_factor: 1
      storage:
        filesystem:
          chunks_directory: /tmp/loki/chunks
          rules_directory: /tmp/loki/rules
    
    storage:
      type: filesystem
    
    schemaConfig:
      configs:
        - from: "2024-01-01"
          store: tsdb
          object_store: filesystem
          schema: v13
          index:
            prefix: loki_index_
            period: 24h
    
    ruler:
      storage:
        type: local
        local:
          directory: /tmp/loki/rules
      wal:
        dir: /tmp/loki/ruler-wal
  
  singleBinary:
    replicas: 1
    persistence:
      enabled: false
    podSecurityContext:
      runAsNonRoot: false
      runAsUser: 0
    containerSecurityContext:
      readOnlyRootFilesystem: false
      runAsNonRoot: false
      runAsUser: 0
    extraVolumes:
      - name: loki-data
        emptyDir: {}
    extraVolumeMounts:
      - name: loki-data
        mountPath: /tmp/loki
  
  chunksCache:
    enabled: false
  resultsCache:
    enabled: false
  
  gateway:
    enabled: false
  
  test:
    enabled: false

  backend:
    replicas: 0

  read:
    replicas: 0

  write:
    replicas: 0