<section class="breadcrumb__section breadcrumb__bg">
    <div class="container">
        <div class="row row-cols-1">
            <div class="col">
                <div class="breadcrumb__content text-center">
                    <h1 class="breadcrumb__content--title text-white mb-25">Product Details</h1>
                    <ul class="breadcrumb__content--menu d-flex justify-content-center">
                        <li *ngFor="let breadcrumb of breadcrumbs; let last = last" class="breadcrumb__content--menu__items">
                            <span *ngIf="!last">
                              <a class="text-white" [routerLink]="breadcrumb.url">{{ breadcrumb.label }}</a>
                            </span>
                            <span *ngIf="last" class="text-white">{{ breadcrumb.label }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
