<form [formGroup]="formGroup" class="checkout__form">
    <div class="checkout__content--step section__shipping--address">
      <div class="section__header mb-25">
        <h3 class="section__header--title">Shipping address</h3>
      </div>
      <div class="section__shipping--address__content">
        <div class="row">
          <div class="col-6 mb-12">
            <div class="checkout__input--list">
              <label>
                <input class="checkout__input--field border-radius-5" placeholder="First name" type="text" 
                  formControlName="firstName" />
                <div class="form-error" *ngIf="formGroup.get('firstName')?.touched && formGroup.get('firstName')?.hasError('required')">
                  First name is required.
                </div>
              </label>
            </div>
            <div class="checkout__input--list">
              <label>
                <input class="checkout__input--field border-radius-5" placeholder="Contact" type="text"
                  formControlName="phone" />
                <div class="form-error" *ngIf="formGroup.get('phone')?.touched && formGroup.get('phone')?.hasError('required')">
                  Phone is required.
                </div>
              </label>
            </div>
            <div class="checkout__input--list">
              <label>
                <input class="checkout__input--field border-radius-5" placeholder="Address1" type="text"
                  formControlName="address1" />
                <div class="form-error" *ngIf="formGroup.get('address1')?.touched && formGroup.get('address1')?.hasError('required')">
                  Address line 1 is required.
                </div>
              </label>
            </div>
            <div class="checkout__input--list">
              <label>
                <input class="checkout__input--field border-radius-5" placeholder="Apartment, suite, etc. (optional)" type="text" 
                  formControlName="address2" />
                <div class="form-error" *ngIf="formGroup.get('address2')?.touched && formGroup.get('address2')?.hasError('required')">
                  Address line 2 is required.
                </div>
              </label>
            </div>
          </div>
          <div class="col-6 mb-12">
            <div class="checkout__input--list">
              <label>
                <input class="checkout__input--field border-radius-5" placeholder="Last name" type="text"
                  formControlName="lastName" />
                <div class="form-error" *ngIf="formGroup.get('lastName')?.touched && formGroup.get('lastName')?.hasError('required')">
                  Last name is required.
                </div>
              </label>
            </div>
            <div class="checkout__input--list checkout__input--select select">
              <select class="checkout__input--select__field border-radius-5" id="label"
                formControlName="addressType">
                <option value="" disabled [selected]="true">Select Address Type</option>
                <option value="home">Home</option>
                <option value="work">Work</option>
                <option value="other">Other</option>
              </select>
              <div class="form-error" *ngIf="formGroup.get('addressType')?.touched && formGroup.get('addressType')?.hasError('required')">
                Address type is required.
              </div>
              <div class="form-error" *ngIf="formGroup.get('addressType')?.touched && formGroup.get('addressType')?.hasError('invalidAddressType')">
                Please select a valid address type.
              </div>
            </div>
            <div class="checkout__input--list checkout__input--select select">
              <select class="checkout__input--select__field border-radius-5" id="country"
                    formControlName="country">
                <option value="" disabled [selected]="true">Select country</option>
                <option value="India">India</option>
                <option value="United States">United States</option>
              </select>
              <div class="form-error" *ngIf="formGroup.get('country')?.touched && formGroup.get('country')?.hasError('required')">
                Country is required.
              </div>
            </div>
            <div class="checkout__input--list">
              <label>
                <input class="checkout__input--field border-radius-5" placeholder="City" type="text"
                  formControlName="city" />
                <div class="form-error" *ngIf="formGroup.get('city')?.touched && formGroup.get('city')?.hasError('required')">
                  City is required.
                </div>
              </label>
            </div>
            <div class="checkout__input--list">
              <label>
                <input class="checkout__input--field border-radius-5" placeholder="Postal code" type="text"
                  formControlName="postalCode" />
                <div class="form-error" *ngIf="formGroup.get('postalCode')?.touched && formGroup.get('postalCode')?.hasError('required')">
                  Postal code is required.
                </div>
                <div class="form-error" *ngIf="formGroup.get('postalCode')?.touched && formGroup.get('postalCode')?.hasError('pattern')">
                  Postal code must be 4-6 digits.
                </div>
              </label>
            </div>
          </div>
        </div>
        <div class="checkout__checkbox">
          <input class="checkout__checkbox--input" id="check2" type="checkbox" formControlName="isDefault" />
          <span class="checkout__checkbox--checkmark"></span>
          <label class="checkout__checkbox--label" for="check2">
            Save this information for next time
          </label>
        </div>
      </div>
    </div>
  </form>