.primary__btn {
	font-size: 1.4rem;
	font-weight: var(--body-line-height);
	line-height: 3.5rem;
	display: inline-block;
	height: 3.5rem;
	padding: 0 1.8rem;
	letter-spacing: .2px;
	border-radius: .3rem;
	background: var(--secondary-color);
	color: var(--white-color);
	border: 0;
}

.primary__btn.primary__btn--sm {
	font-size: 1.2rem;
	line-height: 3rem;
	height: 3rem;
	padding: 0 1.4rem;
}

.primary__btn.primary__btn--md {
	font-size: 1.4rem;
	line-height: 3.5rem;
	height: 3.5rem;
	padding: 0 1.8rem;
}

.primary__btn.primary__btn--lg {
	font-size: 1.6rem;
	line-height: 4.5rem;
	height: 4.5rem;
	padding: 0 2rem;
}

.primary__btn.primary__btn--xl {
	font-size: 1.8rem;
	line-height: 5rem;
	height: 5rem;
	padding: 0 2.5rem;
}

.primary__btn:hover {
	background: var(--primary-color);
	color: var(--white-color)
}

@media only screen and (min-width:768px) {
	.primary__btn {
		font-size: 1.5rem;
		line-height: 4rem;
		height: 4rem;
		padding: 0 2rem
	}
}

@media only screen and (min-width:992px) {
	.primary__btn {
		font-size: 1.6rem;
		line-height: 4.5rem;
		height: 4.5rem
	}
}

@media only screen and (min-width:1200px) {
	.primary__btn {
		font-size: 1.7rem;
		line-height: 4.8rem;
		height: 4.8rem;
		padding: 0 2.3rem
	}
}

@media only screen and (min-width:1600px) {
	.primary__btn {
		font-size: 1.8rem;
		line-height: 5.2rem;
		height: 5.2rem;
		padding: 0 2.5rem
	}
}