{{- if .Values.enabled | default true }}
apiVersion: v1
kind: Service
metadata:
  namespace: {{ .Values.namespace | default .Release.Namespace }}
  name: backend-{{ .Release.Namespace }}
  labels:
    {{- include "backend.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort | default "http" }}
      protocol: {{ .Values.service.protocol | default "TCP" }}
      name: http
  selector:
    {{- include "backend.selectorLabels" . | nindent 4 }}
{{- end }}