<div class="payment-container">
  <h2>Secure Payment</h2>

  @if (loading()) {
  <app-spinner [color]="'primary'" [size]="'large'">Loading..</app-spinner>
  }

  @if (paymentError()) {
  <div class="alert alert-danger">
    {{ paymentError() }}
  </div>
  }

  @if (paymentSuccess()) {
  <div class="alert alert-success">
    <h3>Payment Successful!</h3>
    <p>Thank you for your payment. A receipt has been sent to your email.</p>
  </div>
  } @else {
  <form [formGroup]="formGroup">

    <div class="card-container">
      <label>Payment Method</label>
      <div id="payment-element"></div>
    </div>
  </form>
  }
</div>