<!-- <app-hero-slider [slides]="slides"></app-hero-slider> -->
<h1>This is Home Page - Check Build</h1>
<app-banner-section type="categories" [banners]="categoryBanners"></app-banner-section>
<app-banner-section type="discount" [banners]="discountBanners" [discountContent]="discountContent"></app-banner-section>
<!-- <app-brand-logos [logos]="brandLogos"></app-brand-logos> -->
<app-shop-cards [content]="shopCardContent" [banners]="shopCardBanners" [videoUrl]="shopCardVideoUrl"></app-shop-cards>
<app-testimonial [testimonials]="testimonials"></app-testimonial>
<app-contact-section></app-contact-section>