loki:
  deploymentMode: SingleBinary
  
  singleBinary:
    podSecurityContext:
      runAsNonRoot: false
      runAsUser: 0
      fsGroup: 0
    containerSecurityContext:
      readOnlyRootFilesystem: false
      runAsNonRoot: false
      runAsUser: 0
  
  backend:
    replicas: 0
  read:
    replicas: 0
  write:
    replicas: 0