# Development-specific security context overrides
singleBinary:
  podSecurityContext:
    runAsNonRoot: false
    runAsUser: 0

  containerSecurityContext:
    readOnlyRootFilesystem: false
    runAsNonRoot: false
    runAsUser: 0