<app-breadcrumb></app-breadcrumb>
<section *ngIf="product" class="product__details--section section--padding">
    <div class="container">
        <div class="row row-cols-lg-2 row-cols-md-2">
            <div class="col">
                <div class="product__details--media">
                    <app-carousel [images]="product.image_urls"></app-carousel>
                </div>
            </div>
            <div class="col">
                <div class="product__details--info">
                    <form action="#">
                        <h2 class="product__details--info__title mb-15">{{ product.name }}</h2>
                        <div class="product__details--info__price mb-10">
                            <span class="current__price">{{ getCurrentPrice() }}</span>
                            <span class="price__divided"></span>
                            <span class="old__price">$178</span>
                        </div>
                        <div class="product__details--info__rating d-flex align-items-center mb-15">
                            <app-rating></app-rating>
                        </div>
                        <p class="product__details--info__desc mb-20">{{ product.description }}</p>
                        <div class="product__variant">
                            <div class="product__variant--list mb-10">
                                <app-radio-variant [options]="productColors"
                                [selectedValue]="selectedColor" [name]="'Color'" [isColor]="true" (valueChange)="onColorChange($event)"></app-radio-variant>
                            </div>
                            <div class="product__variant--list mb-15">
                                <app-radio-variant [options]="productSizes"
                                [selectedValue]="selectedSize" [name]="'Size'" (valueChange)="onSizeChange($event)"></app-radio-variant>
                            </div>
                            <div class="product__variant--list quantity d-flex align-items-center mb-20">
                                <app-quantity-box></app-quantity-box>
                                <app-primary-button class="quickview__cart--btn" [label]="'Add to Cart'" (click)="addToCart()" />
                            </div>
                            <div class="product__variant--list mb-15">
                                <a class="variant__wishlist--icon mb-15" (click)="addToWishlist()" title="Add to wishlist">
                                    <i class="bi bi-heart m-2"></i>
                                    Add to Wishlist
                                </a>
                                <app-primary-button class="variant__buy--now__btn" [label]="'Buy it now'" [size]="'xl'" />
                            </div>
                            <div class="product__details--info__meta">
                                <p class="product__details--info__meta--list"><strong>Brand: </strong> <span>{{ product.brand }}</span></p>
                                <p class="product__details--info__meta--list"><strong>Category: </strong> <span>{{ (product.subcategory) || '' }}</span></p>
                                <p class="product__details--info__meta--list"><strong>Tags: </strong> <span>{{ product.tags.join(', ') }}</span></p>
                                <p class="product__details--info__meta--list"><strong>Type: </strong> <span>{{ selectedVariant }}</span></p>
                            </div>
                        </div>
                        <div class="quickview__social d-flex align-items-center mb-15">
                            <app-social-share></app-social-share>
                        </div>
                        <div class="guarantee__safe--checkout">
                            <h5 class="guarantee__safe--checkout__title">Guaranteed Safe Checkout</h5>
                            <img class="guarantee__safe--checkout__img" src="safe-checkout.png" alt="Payment Image">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>