{{- if .Values.routes.backend.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: backend-ingress
  namespace: {{ .Values.routes.backend.paths | first | dig "service" "namespace" "app" }}
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  ingressClassName: nginx
  rules:
  - host: {{ .Values.routes.backend.hostname }}
    http:
      paths:
      {{- range .Values.routes.backend.paths }}
      - path: {{ .path }}
        pathType: Prefix
        backend:
          service:
            name: {{ .service.name }}
            port:
              number: {{ .service.port }}
      {{- end }}
{{- end }}