{{- if .Values.global.networking.ingress.enabled }}
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ include "prometheus-stack.fullname" . }}-grafana
  namespace: {{ .Release.Namespace }}
  annotations:
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
spec:
  rules:
    - host: {{ .Values.global.networking.grafana.domain }}
      http:
        paths:
          - path: {{ .Values.global.networking.grafana.path }}
            backend:
              serviceName: {{ .Release.Name }}-grafana
              servicePort: 80
{{- end }}