<!-- /* TODO = Add Sticky*/ -->

<div class="header__bottom header__sticky">
  <div class="container-fluid">
    <div class="header__bottom--inner position__relative d-none d-lg-flex justify-content-between align-items-center">
      <div class="header__menu">
        <nav class="header__menu--navigation">
          <ul class="d-flex">
            <li class="header__menu--items">
              <a class="header__menu--link" routerLink="/">Home</a>
            </li>
            <li class="header__menu--items">
              <a class="header__menu--link" routerLink="/shop">Shop</a>
            </li>
            <li class="header__menu--items">
              <a class="header__menu--link" routerLink="/about-us">About Us</a>
            </li>
            <li class="header__menu--items">
              <a class="header__menu--link" href="index.html">Categories
                <i class="bi bi-chevron-down"></i>
              </a>
              <ul class="header__sub--menu">
                <li class="header__sub--menu__items"><a class="header__sub--menu__link" href="#">Men</a></li>
                <li class="header__sub--menu__items"><a class="header__sub--menu__link" href="#">Women</a></li>
              </ul>
            </li>
            <li class="header__menu--items"><a class="header__menu--link" routerLink="/blog">Blog</a></li>
            <li class="header__menu--items">
              <a class="header__menu--link" href="#">
                Pages <i class="bi bi-chevron-down"></i>
              </a>
              <ul class="header__sub--menu">
                <li class="header__sub--menu__items"><a class="header__sub--menu__link" href="#">FAQ</a></li>
                <li class="header__sub--menu__items"><a class="header__sub--menu__link" href="#">Terms</a></li>
              </ul>
            </li>
            <li class="header__menu--items"><a class="header__menu--link" routerLink="/contact">Contact</a></li>
          </ul>
        </nav>
      </div>
      <div class="special-offer">
        <span>Special up to 60% Off all items</span>
      </div>
    </div>
  </div>
</div>